<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyConnection" connectionString="Data Source=DESKTOP-04N6AF2\SQLEXPRESS01; User Id=new_sa; Password=1234; Initial Catalog=AvanadeLibrary; Integrated Security=True; TrustServerCertificate=Yes" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>